.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: rgb(1, 4, 48);
}

.meetUserVideo {
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;
    border-radius: 20px;


}

.buttonContainers {
    position: absolute;
    width: 100vh;
    bottom: 0;
    text-align: center;
}

.buttonContainers svg {
    font-size: 2rem;
}

.conferenceView {
    display: flex;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
}

.conferenceView video {
    width: 40vw;
    height: 30vh;
    min-width: 30vw;
    border-radius: 10px;
}

.chatRoom {
    position: absolute;
    right: 0;
    width: 30vw;
    height: 90vh;
    background-color: white;
    border-radius: 10px;
    padding-inline: 20px;
}

.chatContainer {
    position: relative;
    height: 100%;
}

.chattingArea {
    position: absolute;
    bottom: 0;
}

.chatmessage {
    margin: 10px 0;
}


.historyBackButton {
    position: sticky !important;
    top: 10px;
    z-index: 1000;


    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 10px 18px;
    margin: 10px;

    background-color: #fff9fe !important;
    color: #5597f3 !important;

    border: 1px solid #e5e7eb;
    /* border-radius: 12px; */

    box-shadow: 0 4px 12px rgba(242, 96, 96, 0.08);
    cursor: pointer;
    width: fit-content;
    height: max-content;

    transition: all 0.2s ease;
}

.historyBackButton:hover {
    background-color: #f3f4f6 !important;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.usernamePage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 10vh;

}

.logo {
    position: absolute;
    top: 20px;
    left: 24px;
    display: flex;
    align-items: center;
    z-index: 10;
    color: #0F766E;
    font-family: cursive;
    font-weight: bolder;
    font-size: larger;
}

.logo img {
    width: 42px;
    height: 42px;
    filter: grayscale(1) brightness(0.65);
}

@media (max-width: 768px) {
    .usernamePage {
        padding-inline: 1rem;
        margin-top: 10vh;
        align-items: start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
    }
}

.usernamePage h2 {
    font-size: 2rem;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.cameraPreview video {
    width: 320px;
    max-width: 90vw;
    border-radius: 12px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}