

.navBar {
    display: flex;
    margin-top: 1%;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    text-align: center;
}

.meetContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.leftPanel {
    margin-top: 2vh;
    width: 55%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.rightPanel {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.rightPanel>img {
    width:110%;
    height:auto;
    border-radius: 20px;
    
}

@media (max-width: 768px) {
    .leftPanel>div:nth-child(2) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .leftPanel {
        padding-top: 5rem;
        height: 70%;
    }
     .meetContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60%;
    }
     .rightPanel {
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }

    .rightPanel img {
        width: 80%;
    }
}